In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/usedcars_with_missing_values.csv")

In [3]:
df['year'] = df['year'].astype('category')

In [4]:
df

     year model    price   mileage   color transmission
0    2011   NaN  21992.0    7413.0  Yellow         AUTO
1    2011   SEL  20995.0   10926.0    Gray         AUTO
2    2011   SEL  19995.0    7351.0  Silver         AUTO
3    2011   SEL  17809.0   11613.0    Gray         AUTO
4    2012    SE  17500.0    8367.0   White         AUTO
..    ...   ...      ...       ...     ...          ...
145  2006   SES   6200.0   95000.0  Silver         AUTO
146  2002    SE   5995.0   87003.0     Red         AUTO
147  2000    SE   5980.0   96841.0     Red         AUTO
148  2001    SE   4899.0  151479.0  Yellow         AUTO
149  2000    SE   3800.0  109259.0     Red         AUTO

[150 rows x 6 columns]

## Clean data

In [5]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

In [6]:
df_dummy = pd.get_dummies(df)
df_dummy = df_dummy.dropna()
df_dummy

,price,mileage,year_2000,year_2001,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,...,color_Blue,color_Gold,color_Gray,color_Green,color_Red,color_Silver,color_White,color_Yellow,transmission_AUTO,transmission_MANUAL
0,21992.0,7413.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,20995.0,10926.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,19995.0,7351.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,17809.0,11613.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,17500.0,8367.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,6200.0,95000.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
146,5995.0,87003.0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
147,5980.0,96841.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
148,4899.0,151479.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
149,3800.0,109259.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [7]:
outcomename = 'price'
X = df_dummy.drop(columns = outcomename)
Y = df_dummy[outcomename]

In [10]:
best_r2 = 0
for size in range(5, 95):
    size = size/100
    X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = size)
    model = LinearRegression()
    model.fit(X_train, Y_train)

    test_r2_score = model.score(X_test, Y_test)
    if test_r2_score >= best_r2:
        best_size = size
        best_r2 = test_r2_score
print(best_size)

0.1

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = best_size)

In [28]:
all_r2_score = []
for i in range(10000):
    X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = best_size)
    model = LinearRegression()
    model.fit(X_train, Y_train)
    test_r2_score = model.score(X_test, Y_test)
    all_r2_score.append(test_r2_score)

In [29]:
print("Test R^2 score:", sum(all_r2_score) / len(all_r2_score))

Test R^2 score: 0.6575888590388155

In [ ]:
for depth in range(2, len()):
    for min_split in (2, len(X_train)):
        model = DecisionTreeRegressor(min_samples_split= 0, max_depth= 0)
        DTree_Clf = DTree_Clf.fit(X_train, Y_train)