In [1]:
import pandas as pd
import numpy as np
import math
import statistics
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("https://github.com/prasertcbs/basic-dataset/raw/master/usedcars_with_missing_values.csv")
raw_data = df.dropna()
raw_data.reset_index(inplace = True)

In [4]:
raw_data

     index  year model    price   mileage   color transmission
0        1  2011   SEL  20995.0   10926.0    Gray         AUTO
1        2  2011   SEL  19995.0    7351.0  Silver         AUTO
2        3  2011   SEL  17809.0   11613.0    Gray         AUTO
3        4  2012    SE  17500.0    8367.0   White         AUTO
4        5  2010   SEL  17495.0   25125.0  Silver         AUTO
..     ...   ...   ...      ...       ...     ...          ...
125    145  2006   SES   6200.0   95000.0  Silver         AUTO
126    146  2002    SE   5995.0   87003.0     Red         AUTO
127    147  2000    SE   5980.0   96841.0     Red         AUTO
128    148  2001    SE   4899.0  151479.0  Yellow         AUTO
129    149  2000    SE   3800.0  109259.0     Red         AUTO

[130 rows x 7 columns]

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         130 non-null    int64
 1   year          130 non-null    int64
 2   model         130 non-null    object
 3   price         130 non-null    float64
 4   mileage       130 non-null    float64
 5   color         130 non-null    object
 6   transmission  130 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 7.2+ KB

In [6]:
data = raw_data.copy()
category_columns = ['color','model','transmission']
data[category_columns] = data[category_columns].astype('category')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         130 non-null    int64
 1   year          130 non-null    int64
 2   model         130 non-null    category
 3   price         130 non-null    float64
 4   mileage       130 non-null    float64
 5   color         130 non-null    category
 6   transmission  130 non-null    category
dtypes: category(3), float64(2), int64(2)
memory usage: 5.2 KB

In [ ]:
dummies_data = pd.get_dummies(data)

In [9]:
dummies_data

,index,year,price,mileage,model_SE,model_SEL,model_SES,color_Black,color_Blue,color_Gold,color_Gray,color_Green,color_Red,color_Silver,color_White,color_Yellow,transmission_AUTO,transmission_MANUAL
0,1,2011,20995.0,10926.0,0,1,0,0,0,0,1,0,0,0,0,0,1,0
1,2,2011,19995.0,7351.0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
2,3,2011,17809.0,11613.0,0,1,0,0,0,0,1,0,0,0,0,0,1,0
3,4,2012,17500.0,8367.0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
4,5,2010,17495.0,25125.0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,145,2006,6200.0,95000.0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
126,146,2002,5995.0,87003.0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
127,147,2000,5980.0,96841.0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
128,148,2001,4899.0,151479.0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
129,149,2000,3800.0,109259.0,1,0,0,0,0,0,0,0,1,0,0,0,1,0

In [ ]:
target = 'price'
X = dummies_data.drop(columns = target)
Y = dummies_data[target]

In [ ]:
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import r2_score, mean_squared_error

In [10]:
class model():
    def __init__(self, model_name, X, Y, split_seed, spilt_size, kfold_seed, **kwargs):
        self.model_name = model_name
        self.X = X
        self.Y = Y
        self.split_seed = split_seed
        self.spilt_size = spilt_size
        self.kfold_seed = kfold_seed
        self.kwargs = kwargs
    
    def split(self):
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(self.X, self.Y, test_size = self.spilt_size, random_state = self.spilt_size, shuffle = False)

    @property
    def create_model(self):
        self.model = self.model_name()
        self.model.fit(self.X_train, self.y_train)

    def grid_search(self):
        for kwarg in self.kwargs:
            yield kwarg
        grid_search = GridSearchCV(estimator = self.model_name, param_grid= , cv=5, n_jobs=-1)
        grid_search.fit(self.X_train, self.y_train)

    @property
    def score(self):
        self.y_pred = self.model.predict(self.X_test)
        self.mse = mean_squared_error(self.y_test, self.y_pred)
        self.rmse = math.sqrt(self.mse)
        self.train_model_score = self.model.score(self.X_train, self.y_train)
        self.test_mdoel_score = self.model.score(self.X_test, self.y_test)

IndentationError: expected an indented block (1942397577.py, line 20)

In [13]:
def test():
    for i in range(1, 10):
        yield i

a = test()

In [19]:
list(a)

[5, 6, 7, 8, 9]